* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-height: fit-content;
    max-width: 100vw;
    background-image: url("./img/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg");
    backdrop-filter: blur(4px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    height: 100%;
    width: 99%;
    margin: 0 auto;
    padding: 7rem 3.5rem 2rem 3.5rem;
    color: white;
    font-family: "lexend deca";
}

@keyframes loading {
    from {
        opacity: 1;
        transform: scale(1.4);
    }

    to {
        opacity: 0;
        transform: scale(0.6);
    }
}

.loading {
    width: 60%;
    font-size: 3rem;
    position: relative;
    margin: 4rem auto;
    text-align: center;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.current-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    animation-name: show;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.gen-infos {
    flex: 1;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
}

.city {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 400;
}

.date {
    font-weight: 400;
    font-size: 115%;
    letter-spacing: 0.7px;
    padding: 0.3rem 0.5rem 0 0;
}

.current-icon {
    width: 10%;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, .7));
    border: none;
}

.description {
    font-size: 1.5rem;
    width: 10%;
    text-align: center;
    transform: translateY(-20%);
}

.temp-infos {
    padding: 0.5rem;
}

.temp {
    font-size: 9rem;
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}

.temps {
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
    transform: translateX(-12%);
}

.humidity {
    color: rgba(255, 0, 0, 0.589);
}

.wind {
    font-size: 1.3rem;
}

.navbar {
    padding: 1rem 0.5rem 0.5rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar>ul>li {
    padding: .5rem;
}

.navbar>ul>li>a {
    font-size: 1.3rem;
}

.line {
    height: 3px;
    background-color: white;
    border: none;
    border-radius: 7px;
    opacity: 0.2;
}

.search-section {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1.5rem .5rem 1rem;
}

#latitude-search-field,
#longitude-search-field {
    width: 25%;
    border: none;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .65);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    color: white;
    font-family: "poppins";
    margin-right: 1rem;
}

#latitude-search-field:focus::placeholder,
#longitude-search-field:focus::placeholder {
    color: white;
    transform: scale(0.8) translateY(-30%);
    opacity: 0;
    transition: all ease 0.5s;
}

#latitude-search-field,
#longitude-search-field:focus {
    outline: none;
}

.search-section>button {
    background: transparent;
    border: none;
}

.search-icon {
    width: 25px;
    opacity: 0.6;
    cursor: pointer;
}

.search-icon:hover {
    opacity: 1;
    transition: all ease-out 1s;
}

.search-icon:hover {
    opacity: 1;
}

.menu {
    font-size: 180%;
}

a {
    cursor: pointer;
    opacity: 0.3;
}

a:hover {
    opacity: 1;
    transition: all ease 0.8s;
}


.additional-infos {
    display: flex;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;
}

.hourly-item,
.daily-item,
.details-section>div {
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 10px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, .5);
    margin: 0.6rem 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem 0.6rem 1rem;
}

.hourly-item {
    flex: 1;
}

.hourly-item:hover {
    opacity: 0.5;
    transition: all ease 0.5s;

}

.hourly-item>.tmp {
    padding: 0;

}

.hourly-item>.hour {
    text-transform: uppercase;
}

.hourly-item>p {
    width: 90%;
    text-align: center;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1rem 0 0 0;
}

.hourly-item>.desc {
    font-size: 1rem;
}

.icon {
    width: 40%;
    transform: translateX(50%);
}

.daily-item {
    padding: 0 1rem 2rem 1rem;
    margin-right: 2rem;
    min-width: 10rem;
}

.daily-item>p {
    padding: 0 0 0.3rem 0;
    font-size: 0.8rem;
    width: 90%;
}

.daily-item>.day {
    width: 90%;
    text-align: center;
    padding-bottom: 1rem;
    transform: translateY(-20%);
}

.btn-details {
    width: 95%;
    margin-top: 0.5rem;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(to right top,
            rgba(255, 255, 255, .5),
            rgba(255, 255, 255, 1));
    font-family: "poppins";
    font-size: 0.9rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.btn-details:hover {
    color: white;
    background: rgba(0, 0, 0, .6);
    transition: all ease 1s;
}

.details-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
    line-height: 2rem;
}

.details-section>div>p {
    text-transform: capitalize;
}

.details-section>.temp-section {
    flex: 1;
}

.weather>img {
    width: 30%;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, .5));
    transform: translateX(120%);
}

.weather>p {
    text-align: center;
    transform: translateY(-50%);
    font-size: 140%;
}

.location-btn {
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 15px;
    /* transform: translateX(10%); */
    cursor: pointer;
    background: linear-gradient(to right top,
            rgba(255, 255, 255, .5),
            rgba(255, 255, 255, 1));
    font-family: "poppins";
    font-size: 0.85rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
    margin: 0 .5rem;

}

.location-btn:hover {
    color: white;
    background: rgba(0, 0, 0, .6);
    transition: all ease 1s;
}

.alert {
    width: 60%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 120%;
    margin-top: 4rem;
    text-align: center;
}

@media screen and (max-width : 1024px) {

    .main {
        padding-top: 6rem;
    }

    .temp {
        font-size: 4rem;
    }

    .city {
        font-size: 2rem;
    }

    .date {
        font-size: 100%;
    }

    .description {
        font-size: 1.2rem;
    }

    .temps {
        font-size: 1.4rem;
    }

    #latitude-search-field,
    #longitude-search-field {
        width: 40%;
    }

    #latitude-search-field::placeholder,
    #longitude-search-field::placeholder {
        color: rgba(255, 255, 255, .4);
    }

    .navbar>ul>li>a {
        font-size: 1.1rem;
    }

    .location-btn {
        font-size: 75%;
        width: 15%;
    }

    .btn-details {
        width: 95%;
        font-size: 0.8rem;
        transform: unset;
    }

    .icon {
        width: 50%;
    }

    .hourly-item {
        flex: unset;
    }

    .daily-item {
        min-width: 10rem;
    }

    .details-section>p {
        font-size: 1rem;
    }

    .details-section>div>p {
        font-size: 90%;
    }

}

@media screen and (max-width : 800px) {


    .main {
        padding-top: 4rem;
    }

    .navbar {
        flex-direction: column-reverse;
    }

    .search-section {
        width: 90%;
    }

    #latitude-search-field,
    #longitude-search-field {
        width: 50%;
        border: none;
        background-color: rgba(0, 0, 0, .4);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .65);
        border-radius: 20px;
        padding: 0.5rem 1rem;
        color: white;
        font-family: "poppins";
        margin-right: 1rem;
    }

    .menu {
        display: none;
    }

    .location-btn {
        width: 30%;
        margin: 1rem auto;
        transform: translateX(-10%);
    }

    .current-icon {
        width: 20%;
    }

    .details-section {
        flex-direction: column-reverse;
    }

    .details-section>div {
        width: 60%;
    }

    .details-section>.weather {
        border: none;
        box-shadow: none;
    }

    .details-section>.weather>img {
        width: 40%;
        transform: translateX(70%);
    }

    .details-section>.weather>p {
        font-size: 170%;
        text-shadow: 0 5px 10px rgba(0, 0, 0, .9);
    }

}

@media screen and (max-width : 570px) {
    .current-section {
        flex-direction: column;
    }

    .gen-infos {
        text-align: center;
    }

    .current-icon {
        width: 30%;
    }

    .description {

        width: 100%;
        text-align: center;
    }

    .temp-infos {
        text-align: center;
        width: 60%;
    }

    .temps {
        transform: translateX(-4%);
    }

    .temp {
        font-size: 5rem;
    }

    .additional-infos {
        flex-direction: column;
    }

    .daily-item,
    .hourly-item {
        flex: unset;
        width: 75%;
        margin: 0.6rem auto;
    }

    .daily-item>p {
        font-size: 1.1rem;
    }

    .daily-item>.day {
        font-size: 1.4rem;
    }

    .btn-details {
        width: 80%;
        transform: translateX(10%);
        margin: 0.4rem auto;
    }

    .location-btn {
        width: 45%;
    }

    .search-section {
        width: 95%;
    }

    #latitude-search-field,
    #longitude-search-field {
        width: 60%;
    }

}

@media screen and (max-width : 480px) {
    .main {
        padding-top: 2.5rem;
    }

    .temp-infos {
        width: 80%;
        transform: translateX(5%);
    }
}